<div class="w-75 mx-auto mt-2 py-3">
  <h2 class="text-center">Login Usuario</h2>
  <form
    id="loginForm"
    name="login"
    action="/login"
    method="POST"
    enctype="application/x-www-form-urlencoded"
  >
    <div class="mb-3">
      <label for="user-name" class="form-label">Ingrese su Nombre</label>
      <input
        type="text"
        class="form-control"
        id="user-name"
        aria-describedby="userName"
        name="user-name"
      />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>